<%- include('./partials/header') %>

    <div class="banner">
        <div id="bannerImage" class="container-fluid">
            <div class="img-overlay"></div>
            <div id="infobox" class="col-xs-10 col-md-6">
                <h2>Welcome to Radii</h2>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <div class="btn btn-primary-transparent" id="scroll">Shop now</div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="about">
        <div class="row" id="slogan">
            <div class="col-xs-12 col-md-8">
                <h4>Quisque viverra tincidunt.</h4>
                <p>Ut suscipit facilisis ex, quis aliquam mauris vehicula eget. Suspendisse ut accumsan enim, eget sollicitudin mauris. Maecenas viverra mollis nunc, in auctor lorem bibendum scelerisque. </p>
            </div>
        </div>
    </div>
    <div class="container" id="collections">
        <div class="row" id="collec-header">
            <h4>Collections</h4>
        </div>
        <div class="row" id="img-row">
            <!-- 45% -->
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="img-holder">
                    <a href="">
                        <div class="content-layer">
                            <h2>Apparel</h2>
                            <div class="btn btn-primary-transparent collect-scroll">View Products</div>
                        </div>
                        <div class="img-overlay"></div>
                        <div class="collection-image" id="c-two"></div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="img-holder">
                    <a href="">
                        <div class="content-layer">
                            <h2>City life</h2>
                            <div class="btn btn-primary-transparent collect-scroll">View Products</div>
                        </div>
                        <div class="img-overlay"></div>
                        <div class="collection-image" id="c-three"></div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="img-holder">
                    <a href="">
                        <div class="content-layer">
                            <h2>Out Doors</h2>
                            <div class="btn btn-primary-transparent collect-scroll">View Products</div>
                        </div>
                        <div class="img-overlay"></div>
                        <div class="collection-image" id="c-one"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="message-section">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="message-image" id="msg-img-one">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="message-msg">
                    <h3>ALL-WEATHER</h3>
                    <p>Nullam hendrerit dui sed sodales laoreet. Curabitur lacinia rhoncus ex, vel ultrices purus faucibus sit amet. Proin tempus lacus sit amet arcu blandit ultricies. Cras a laoreet orci. Nullam quis nulla quis mi laoreet tempus ac sit amet eros.</p>
                    <div class="btn btn-primary-transparent">LEARN MORE</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="message-msg">
                    <h3>Journey</h3>
                    <p>Nunc non tortor eget metus vestibulum hendrerit. In non lectus erat. Proin quis dapibus leo, et dictum neque. Donec id luctus orci. Phasellus felis sapien, posuere sit amet lobortis tristique, aliquet vitae enim.</p>
                    <div class="btn btn-primary-transparent">LEARN MORE</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="message-image" id="msg-img-two">
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="featured">
        <div class="row">
            <h4>featured products</h4>
        </div>
        <div class="row" id="f-products">
          <% products.forEach(function(p) { %>  
            <div class="col-xs-6 col-md-3">
                <a href="/home/products/<%= p._id %>">
                <div class="img-holder">
                    <img src="<%= p.img %>">
                    <div class="product-info">
                        
                            <p><%= p.label %></p>
                            <span>£<%= p.price %></span>
                        
                    </div>
                    <div class="img-overlay"></div>
                </div>
                </a>
            </div>
          <% }) %>
        </div>
    </div>
    <!-- featured end -->
    <div class="container" id="experiences">
        <div class="row">
            <h4>Customers stories</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    <a href="">
                        <div class="ex-overlay">
                            <h4>Nunc vestibulum bibendum consequat. </h4>
                        </div>
                        <div class="ex-img" id="ex-one">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div>
                    <a href="">
                        <div class="ex-overlay">
                            <h4>Praesent ipsum nisl, ullamcorper imperdiet urna. </h4>
                        </div>
                        <div class="ex-img" id="ex-two">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="newsletter">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h4>Join our</h4>
                <h3>NEWS-LETTER</h3>
                <p>Nullam hendrerit dui sed sodales laoreet. Curabitur lacinia rhoncus ex, vel ultrices purus faucibus sit amet. Proin tempus lacus sit amet arcu blandit ultricies. Cras a laoreet orci. Nullam quis nulla quis mi laoreet tempus ac sit amet eros.</p>
                <form>
                <input type="email" name="email" placeholder="email" required>
                <input type="submit" class="btn btn-primary-transparent">
                </form>
            </div>
        </div>
    </div>
    <div class="container" id="instagram">
        <div class="row">
            <h4><span>Follow us on</span> Instagram</h4>
            <p><a href=""><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="insta-holder">
                    <a href="">
                        <div class="insta-image" id="i-one"></div>
                        <div class="insta-overlay">
                            <h1><i class="fa fa-instagram" aria-hidden="true"></i></h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="insta-holder">
                    <a href="">
                        <div class="insta-image" id="i-two"></div>
                        <div class="insta-overlay">
                            <h1><i class="fa fa-instagram" aria-hidden="true"></i></h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="insta-holder">
                    <a href="">
                        <div class="insta-image" id="i-three"></div>
                        <div class="insta-overlay">
                            <h1><i class="fa fa-instagram" aria-hidden="true"></i></h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <div class="insta-holder">
                    <a href="">
                        <div class="insta-image" id="i-four"></div>
                        <div class="insta-overlay">
                            <h1><i class="fa fa-instagram" aria-hidden="true"></i></h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>
