<%- include('./partials/header') %>

<div class="container-fluid" id="product-page">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div>		
			<img src="<%= product.img %>">
			</div>
		</div>
		<div class="col-xs-12 col-md-6" id="product-des">
			<div>
			<h3><%= product.label %></h3>
			<p>Proin ac mi id dolor laoreet blandit sed ut ligula. Fusce finibus eleifend dolor, sed vestibulum metus. Aenean id arcu non nunc fringilla ultrices. Aenean vehicula dui erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras bibendum mauris id laoreet ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

			<hr>
			<form action="/home/products/<%= product._id %>" method="POST">
				<label>£ <%= product.price %></label>
				<p>Quantity:</p>
				<input type="number" name="quantity" value="1" min="1">
				<input type="submit" class="btn btn-primary-transparent" value="Add to Cart">
			</form>
			</div>
		</div>
	</div>


</div>



<%- include('./partials/footer') %>